.profilePicture {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  animation: profileImage 3.5s linear infinite alternate;
  z-index: 0;
}

@keyframes profileImage {
  from {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }
  33% {
    border-radius: 42% 28% 48% 48% / 28% 28% 72% 72%;
  }
  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
  }
  to {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }
}
