.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
}

.image {
  border-radius: 20px 20px 0 0;
}

.title {
  color: #1391ad;
  font-size: 2em;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-top: 15px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.btnDescription {
  margin-top: 3px;
  color: #2a2a2a;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  font-weight: bold;
}

@media (min-width: 996px) and (max-width: 1200px) {
  .image {
    width: 300px;
    height: 187.5px;
  }
}

@media (max-width: 599px) {
  .image {
    width: 300px;
    height: 187.5px;
  }
  .title {
    font-size: 1.5em;
  }
  .imageDescription {
    width: 20px;
    height: 20px;
  }
}
