.container {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.etiqueta {
  width: fit-content;
  padding: 5px 10px;
  background-color: #bb012f;
  color: #fff;
  font-size: 1.2em;
  border-radius: 5px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

.p {
  display: block;
  font-family: monospace;
  font-size: 4em;
  white-space: nowrap;
  border-right: 4px solid;
  width: 23ch;
  animation: typing 2s steps(22), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
.name {
  color: #01bb8d;
}

.description {
  width: 600px;
  font-size: 1.5em;
  color: #9e9c9c;
  margin-top: 30px;
  margin-left: 15px;
  letter-spacing: 1px;
  line-height: 30px;
}

.buttonpri {
  width: fit-content;
  font-size: 2em;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #fff;
  padding: 15px 30px;
  background-color: #3963ff;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 10px;
}

.buttonsec {
  width: fit-content;
  font-size: 2em;
  font-weight: 700;
  color: #3d3d3d;
  margin-top: 30px;
  margin-left: 15px;
}

@media (min-width: 996px) and (max-width: 1199px) {
  .container {
    width: 600px;
  }
  .etiqueta {
    font-size: 1.1em;
  }
  .p {
    font-size: 3.5em;
  }
  .description {
    width: 500px;
    font-size: 1.35em;
  }
  .buttonpri {
    font-size: 1.75em;
  }
  .buttonsec {
    font-size: 1.75em;
  }
}

@media (max-width: 995px) {
  .container {
    width: 100%;
  }
  .etiqueta {
    font-size: 0.8em;
  }
  .p {
    margin-top: 10px;
    font-size: 2em;
  }
  .description {
    width: 300px;
    font-size: 1em;
  }
  .buttonpri {
    font-size: 1.2em;
    padding: 10px 20px;
  }
  .buttonsec {
    font-size: 1.2em;
  }
}

@media (min-width: 600px) and (max-width: 995px) {
  .etiqueta {
    font-size: 1em;
  }
  .p {
    margin-top: 10px;
    font-size: 3em;
  }
  .description {
    width: 500px;
    font-size: 1.5em;
  }
  .buttonpri {
    font-size: 1.5em;
    padding: 10px 20px;
  }
  .buttonsec {
    font-size: 1.5em;
  }
}

@media (max-width: 996px) {
  .container {
    order: 2;
    margin-top: 20px;
    align-items: center;
  }
}

.arrow1 {
  display: inline-block;
  animation: slide1 1s ease-in-out infinite;
  margin-right: 10px;
  font-style: normal;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border: transparent;
  }
}
